.vector {
  position: absolute;
  width: 1009px;
  height: 1087px;
  right: -50px;
  top: -184.22px;
  z-index: -1;
}

.col {
  flex: 1 0 0%;
}

/* FONTS */
.txt--regular {
  font-size: 22px;
  color: #202020;
}

.txt--large {
  font-size: 82px;
  color: #202020;
  font-weight: bold;
  font-family: "Elsie Swash Caps";
}

/* HOME */

.home__img {
  display: none;
}

@media(min-width: 920px) {
  .home__img {
    max-width: 100%;
    position: absolute;
    top: -50px;
    z-index: -1;
    display: block;
  }
}

.newsletter__form {
  display: flex;
  align-items: center;
}

/* HOME */

.d-flex {
  display: flex !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}
